@import '../../common/style.scss';

.auth,
.reset-password {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    color: #17A9FD;
    margin-top: 100px;

    .authWrapper,
    .resetWrapper {
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;

        .authText,
        .resetText {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 360px;

            h1 {
                color: #17A9FD;
                text-align: center;
                padding: 40px 20px;


            }


        }
    }


    .login,
    .reset-form-container {
        width: 320px;
        display: flex;
        justify-content: center;
        align-items: flex-start;


        .form-group {
            box-shadow: -2px -1px 15px 4px rgba(0, 0, 0, 0.11);
            padding: 15px 24px;
            width: 100%;
            border-radius: 4px;


            .login-form,
            .reset-form {
                display: flex;
                flex-direction: column;
                align-items: center;


                input,
                button {
                    width: 100%;
                    margin-top: 24px;
                    padding: 4px;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    outline: none;
                }

                button {
                    cursor: pointer;
                    background-color: #17A9FD;
                    color: white
                }
            }

            .manageLogin {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .reset,
                .register {
                    margin-top: 8px;
                    color: #17A9FD;
                    font-weight: bold;
                    cursor: pointer;

                }

                .reset {
                    text-decoration: underline;
                    cursor: pointer;
                }


            }

        }
    }




}