@import "../../common/style.scss";

    .showcase {
      position: relative;
      transition: all 5s;
      animation-direction: alternate;
      animation-duration: 30s;
      animation-fill-mode: backwards;
      animation: animate 5s linear infinite;
      // box-shadow: inset 0 1px 2px 2px $optional-pink;

      @keyframes animate {
        0% {
          background-position: 100%;
        }
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
      }

      .showcase-inner {
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;

        h1 {
          text-align: center;
          color: #ffffff;
          font-size: clamp(1.5rem, 2.5vw, 2.5rem);
          padding: 40px;

          span {
            display: block;
            font-size: clamp(1.2rem, 2.5vw, 1.8rem);
            color: #de005e
          }

          span:nth-of-type(1) {
            padding-top: 12px;
          }
        }
      }
    }

    

  
