.comments{
    color:#ffffff;
    padding-bottom:40px;
    flex: 1;
    // max-width: 640px;
    background: none;

    .commentsTitle{
        font-size:1.2rem;
    }

    .commentsContainer{
        background-color: #ffffff;
        height: 560px;
        padding:12px 0px 24px 24px;
        overflow: auto;
        border-radius:5px;
        color:#000;

    }
}

.singleComment{
    display: flex;
    padding-top: 12px;
    .imageContainer{
        padding-right: 12px;
    }
    .commentPartRight{
       .commentContent{
        .reply{
            padding-top: 12px;
        }
       }
    }
}


.form-control-sm{
margin: 16px 0px 56px 0px;
background-color: none;

.btn{
    margin-top:4px;
}
    }
