
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

$body-bg:#00030d;
$secondary-color:#E51B23;
$optional-blue:#0042E4;
$optional-royalblue:#0042E4;
$optional-gray: #272727;
$optional-darkgray:#151E26;
$optional-orange:#fb8b24;
$font-headline:'Poppins', sans-serif;
$optional-gray: #272727;
$optional-pink: #de005e;
